@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper
{
    height: 100vh;
    width:100%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper{
    clip-path: circle(75%);
  }



.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease-in-out;
  }

  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
  }

  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition:  0.3s ease;
  }

  .wrapper ul li a:hover{
    color: #4158d0;
  }

  .wrapper ul li a:hover::after
  {
      transform: scaleY(1);
  }

  input[type="checkbox"]{
    display: none;
  }

  .content
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index:-1;
    text-align: center;
    width: 100%;

  }
  
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }